@model List<TimeTable.Models.Flight>
@{
    ViewBag.Title = "Passengers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="metro">
    <nav class="navigation-bar">
        <div class="navigation-bar-content">
            <a class="element"><span class="icon-grid-view"></span>Сайт аэропортовской службы</a>
            <span class="element-divider"></span>
            <a class="pull-menu" href="#"></a>
            <ul class="element-menu">
                <li>
                    <a class="dropdown-toggle" href="/Timetable">На главную</a>
                </li>
                <li>
                    <a class="dropdown-toggle" href="/Timetable/Newflight">Назначить рейс</a>
                </li>
            </ul>
            <div class="no-tablet-portrait">
                <span class="element-divider"></span>
                <div class="element input-element">
                    <form>
                        <div class="input-control text">
                            <input type="text" placeholder="Search...">
                            <button class="btn-search"></button>
                        </div>
                    </form>
                </div>
                <span class="element-divider place-right"></span>
                <button class="element image-button image-left place-right">
                    Выход    
                </button>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="grid fluid">
            <div class="row">
                <div class="span12">
                    <p class="subheader">Загрузка полосы</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-left"></th>
                                <th class="text-left">Время</th>
                                <th class="text-left">№ Рейса</th>
                                <th class="text-left">Авиакомпания</th>
                                <th class="text-left">Направление</th>
                                <th class="text-left">Борт</th>
                                <th class="text-left">Статус</th>
                                <th class="text-left">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model)
                            {
                                if (@item.Status == TimeTable.Models.FlightStatus.Отправлен)
                                {
                                    <tr>
                                        @if (@item.DepartureCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/takeoff.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.ArrivalCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Отправлен</td>
                                            <td class="right"></td>
                                        }
                                        @if (@item.ArrivalCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/landing.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.DepartureCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Отправлен</td>
                                            <td class="right"></td>
                                        }
                                    </tr>
                                }
                                if (@item.Status == TimeTable.Models.FlightStatus.Задержан)
                                {
                                    <tr class="warning">
                                        @if (@item.DepartureCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/takeoff.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.ArrivalCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Задержан</td>
                                            <td class="right"></td>
                                        }
                                        @if (@item.ArrivalCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/landing.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.DepartureCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Задержан</td>
                                            <td class="right"></td>
                                        }
                                    </tr>
                                }
                                if (@item.Status == TimeTable.Models.FlightStatus.Отменен)
                                {
                                    <tr class="error">
                                        @if (@item.DepartureCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/takeoff.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.ArrivalCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Отменен</td>
                                            <td class="right"></td>
                                        }
                                        @if (@item.ArrivalCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/landing.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.DepartureCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Отменен</td>
                                            <td class="right"></td>
                                        }
                                    </tr>
                                }
                                if (@item.Status == TimeTable.Models.FlightStatus.Ожидается)
                                {
                                    <tr class="selected">
                                        @if (@item.DepartureCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/takeoff.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.ArrivalCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Ожидается</td>
                                            <td class="right"><button class="button inverse large">Начать регистрацию</button></td>
                                        }
                                        @if (@item.ArrivalCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/landing.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.DepartureCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Ожидается</td>
                                            <td class="right"><button class="button inverse large">Принять</button></td>
                                        }
                                    </tr>
                                }
                                if (@item.Status == TimeTable.Models.FlightStatus.Регистрация)
                                {
                                    <tr class="info">
                                        @if (@item.DepartureCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/takeoff.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.ArrivalCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Регистрация</td>
                                            <td class="right"><button class="button inverse large">Завершить регистрацию</button></td>
                                        }
                                        @if (@item.ArrivalCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/landing.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.DepartureCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Регистрация</td>
                                            <td class="right"></td>
                                        }
                                    </tr>
                                }
                                if (@item.Status == TimeTable.Models.FlightStatus.РегистрацияЗавершена)
                                {
                                    <tr class="success">
                                        @if (@item.DepartureCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/takeoff.png")">
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.ArrivalCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Регистрация завершена</td>
                                            <td class="right"><button class="button inverse large">Готов к вылету</button></td>
                                        }
                                        @if (@item.ArrivalCity == "Москва")
                                        {
                                            <td>
                                                <img src="@Url.Content("~/Content/pictures/landing.png")" >
                                            </td>
                                            <td>@item.Time.ToString("HH:mm")</td>
                                            <td class="right">@item.FlightNumber</td>
                                            <td class="right">@item.AirCompany</td>
                                            <td class="right">@item.DepartureCity</td>
                                            <td class="right">@item.Aircraft</td>
                                            <td class="right">Регистрация завершена</td>
                                            <td class="right"></td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>